<%- include('../partials/_head-style.ejs') %>
        <title>Meet Your Labelmaker [<%= food.name %>]</title>
    </head>

    <%- include('../partials/_cupboard-open-close.ejs') %>

        <%- include('../partials/_navbar.ejs') %>
        <h1><%= food.name %></h1>
        <div class="content-container">
            <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=PUT" method="POST">
                <label for"name">Name: </label>
                <input type="text" name="name" id="name" />
                <button type="submit"><div class=link-div>Label Food</div></button>
            </form>
        </div>

    </body>
</html>